.anonView body {
  background: hsl(0, 0%, 95%);
  overflow: visible;
  height: auto;
}

.anonView .content {
  min-width: 0;
  position: relative;
  left: 0;
  box-shadow: none;
  overflow: visible;
}

.anonView .channelView {
}

.anonView .channelDetails {
  width: auto;
}