.button,
button,
nav a {
  height: 26px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 26px;
  color: rgba(0,0,0,0.67);
  text-shadow: 0 1px rgba(255,255,255,0.55);
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom-color: rgba(0,0,0,0.34);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.89) inset,0 1px rgba(0,0,0,0.05);
  display: inline-block;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
  .button.hidden,
  button.hidden,
  nav a.hidden {
    display: none;
  }
  .button.active,
  button.active,
  nav a.active,
  .button.active:hover,
  button.active:hover,
  nav a.active:hover {
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.34);
    background: rgba(0,0,0,.21);
    border-color: rgba(0,0,0,0.34);
    border-top-color: rgba(0,0,0,0.34);
    box-shadow: 0 1px 3px rgba(0,0,0,0.21) inset,0 1px rgba(255,255,255,0.89);
    cursor: default;
  }
  .button:active,
  button:active,
  nav a:active {
    color: rgba(0,0,0,0.55);
    background: rgba(0,0,0,.13);
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  }
.button.inlay,
nav a.inlay {
  border-bottom-color: rgba(0,0,0,0.21);
  box-shadow: 
    0 1px white,
    0 1px white inset;
}
  .button.inlay:active,
  nav a.inlay:active {
    border-color: rgba(0,0,0,0.21);
    box-shadow: 
      0 1px white,
      0 1px rgba(0,0,0,.08) inset;
  }
.button.white,
button.white,
nav a.white {
  background: white;
}
.button.tall,
button.tall,
nav a.tall {
  padding: 5px 21px;
  font-size: 13px;
}
.button.small,button.small,nav a.small {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 11px;
  line-height: 20px;
  border-radius: 3px;
}
.button.flat,button.flat,nav a.flat {
  font-size: 11px;
  border: 0;
  background: transparent;
  box-shadow: none;
}
.button.prominent,
button.prominent,
nav a.prominent {
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.13);
  border-color: rgba(0,0,0,0.34);
  border-bottom-color: rgba(0,0,0,0.55);
  background: rgba(0,0,0,0.89);
  box-shadow: 0 1px rgba(255,255,255,0.21) inset,0 1px rgba(0,0,0,0.05);
}
.button.prominent:hover,button.prominent:hover,nav a.prominent:hover {
  background: #000;
}
.button.translucid,button.translucid,nav a.translucid,.button.translucid:hover,button.translucid:hover,nav a.translucid:hover {
  background: none;
}
.button.checkbox,button.checkbox,nav a.checkbox {
  padding-left: 2px;
}
.button.dark,button.dark,nav a.dark {
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.13);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #272929), color-stop(1, #1c1e1e));
  background: -webkit-linear-gradient(top, #272929 0%, #1c1e1e 100%);
  background:    -moz-linear-gradient(top, #272929 0%, #1c1e1e 100%);
  background:     -ms-linear-gradient(top, #272929 0%, #1c1e1e 100%);
  background:      -o-linear-gradient(top, #272929 0%, #1c1e1e 100%);
  background:         linear-gradient(to bottom, #272929 0%, #1c1e1e 100%);
  box-shadow: inset 0 1px rgba(255,255,255,0.13),0 1px rgba(0,0,0,0.05),0 0 0 1px rgba(0,0,0,0.08);
}
.button.light,button.light,nav a.light {
  border: none;
  box-shadow: 0 1px rgba(255,255,255,0.89) inset,0 1px 0 rgba(0,0,0,0.21),0 0 0 3px rgba(0,0,0,0.13);
}
.button.onDark,
button.onDark,
nav a.onDark {
  color: rgba(255,255,255,.75);
  text-shadow: 0 1px rgba(0,0,0,0.55);
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.34) rgba(0,0,0,0.55);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset,0 1px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,.13);
}
  .button.onDark:hover,
  button.onDark:hover,
  nav a.onDark:hover {
    color: white;
  }
.button.double span,
button.double span,
nav a.double span {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid rgba(0,0,0,0.34);
}
.button.unfollow123,
button.unfollow123,
nav a.unfollow123 {
  padding-left: 21px;
  position: relative;
}
.button.unfollow123:before,
button.unfollow123:before,
nav a.unfollow123:before {
  content: "";
  left: 7px;
  top: 8px;
  width: 9px;
  height: 9px;
  background: url("minus.png") no-repeat;
  position: absolute;
}
.button.callToAction,
button.callToAction,
nav a.callToAction {
  color: white;
  font-weight: bold;
  text-shadow: 0 -1px hsl(81, 53%, 34%);
  border-color: hsl(81, 53%, 34%);
  border-bottom-color: hsl(81, 53%, 21%);
  background: hsl(81, 53%, 44%);
  box-shadow: 
    0 1px 0 hsl(81, 53%, 50%) inset,
    0 -1px hsl(81, 53%, 40%) inset,
    0 1px rgba(0,0,0,0.05);
}
  .button.callToAction:hover,
  button.callToAction:hover,
  nav a.callToAction:hover {
    background: hsl(81, 45%, 47%);
  }
  .button.callToAction:active,
  button.callToAction:active,
  nav a.callToAction:active {
    background: hsl(81, 40%, 42%);
    box-shadow: 
      0 1px hsl(81, 40%, 40%) inset,
      0 1px rgba(0,0,0,0.05);
  }
.button.onDark.callToAction,
button.onDark.callToAction,
nav a.onDark.callToAction {
  border-color: hsl(81, 53%, 8%);
  border-bottom-color: hsl(81, 53%, 5%);
  box-shadow: 
    0 1px 0 hsl(81, 53%, 50%) inset,
    0 -1px hsl(81, 53%, 30%) inset,
    0 1px rgba(0,0,0,0.05);
}
  
.button.danger,
button.danger,
nav a.danger {
  color: #fff;
  text-shadow: none;
  background: hsl(0,100%,50%);
  box-shadow: 0 1px 0 rgba(255,255,255,0.55) inset,0 1px rgba(0,0,0,0.05);
}
.button.danger:hover,
button.danger:hover,
nav a.danger:hover {
  background: hsl(0,100%,50%);
}
.button.danger:active,
button.danger:active,
nav a.danger:active {
  box-shadow: 
    0 1px 0 rgba(255,255,255,0.55),
    0 1px rgba(0,0,0,0.05) inset;
}
.button.disabled, .button.disabled:hover, .button.disabled:active {
  color: rgba(0,0,0,.34);
  text-shadow: none;
  background: transparent;
  border-color: rgba(0,0,0,0.21);
  border-top-color: rgba(0,0,0,0.24);
  box-shadow: 0 1px rgba(255,255,255,0.89);
  cursor: default;
}

.button.stickToTop {
  border-top: none;
  border-radius: 0 0 5px 5px;
}
nav a.stickToTop {
  border-top: none;
}

nav a {
  border-radius: 0;
  float: left;
  position: relative;
}
nav a:hover {
  text-decoration: none;
}
nav a:not(:first-child):not(:last-child) {
  border-left: none;
  border-right: none;
}
nav a:not(:first-child):after {
  content: "";
  position: absolute;
  left: -1px;
  top: 25%;
  height: 50%;
  width: 1px;
  background: rgba(0,0,0,0.13);
  box-shadow: 1px 0 rgba(255,255,255,0.34);
}
nav a:active:not(:first-child):after,
nav a:active + a:not(:first-child):after,
nav a.active:not(:first-child):after,
nav a.active + a:not(:first-child):after {
  top: 0;
  height: 100%;
}
nav a:active:not(:first-child):after,
nav a.active:not(:first-child):after {
  left: 0;
  box-shadow: -1px 0 rgba(255,255,255,0.34);
}
nav a.onDark:not(:first-child):after {
  background: rgba(0,0,0,0.21);
  box-shadow: 1px 0 rgba(255,255,255,0.05);
}
nav a.onDark:active:not(:first-child):after {
  box-shadow: -1px 0 rgba(255,255,255,0.13);
}
nav a:not(:first-child) {
  border-left: none;
}
nav a:not(:last-child) {
  border-right: none;
}
nav a:first-child {
  border-radius: 3px 0 0 3px;
}
  nav a.stickToTop:first-child {
    border-radius: 0 0 0 3px;
  }
nav a:last-child {
  border-radius: 0 3px 3px 0;
}
  nav a.stickToTop:last-child {
    border-radius: 0 0 3px 0;
  }
nav a:only-child {
  border-radius: 3px;
}
  nav a.stickToTop:only-child {
    border-radius: 0 0 3px 3px;
  }