#poweredby {
  right: -95px;
  top: 24px;
  margin-top: 2px;
  width: 76px;
  height: 26px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background: url("/img/poweredby.png") no-repeat;
  position: absolute;
}
.avatar {
  border-radius: 3px;
  cursor: pointer;
  vertical-align: bottom;
}
.content {
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 897px;
  left: 234px;
  color: rgba(0,0,0,0.89);
  text-shadow: 0 1px rgba(255,255,255,0.34);
  position: absolute;
  overflow: auto;
}
  .content.full {
    left: 0;
  }
  .content .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
  }
.channelView {
  width: 580px;
  margin-right: 13px;
  padding: 0 0 13px 13px;
}
.channelHeader {
  width: 580px;
  padding: 13px 21px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  .channelHeader .avatar,
  .channelHeader .avatar {
    width: 75px;
    height: 75px;
  }
  .channelHeader .titleText {
    margin: 0 13px;
  }
.channelHeader .owner,
.channelHeader .status,
.channelHeader .location,
.channelHeader .about {
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 1px 1px #fff;
  text-overflow: ellipsis;
  display: block;
}
.channelHeader .titleText .owner {
  color: #1b1b1b;
  font-weight: normal;
  margin-bottom: 2px;
  max-width: 384px;
  line-height: 28px;
}
.channelHeader .titleText .about {
  font-size: 12px;
  color: #6e6e6e;
  max-width: 384px;
  position: relative;
}
.channelHeader .titleText .about:not(.fullText) {
  max-height: 36px;
  overflow: hidden;
}
  .channelHeader .metadata {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid hsl(0,0%,85%);
    color: hsl(0,0%,70%);
    text-shadow: none;
  }
    .channelHeader .metadata .key,
    .channelHeader .metadata .value {
      text-align: center;
    }
    .channelHeader .metadata .key {
      font-size: 10px;
      color: hsl(0,0%,50%);
      line-height: 1;
    }
    .channelHeader .metadata .value {
      color: #333;
      line-height: 2;
    }

.channelView header nav {
  white-space: nowrap;
  float: right;
}
.channelView header nav > span {
  margin-left: 5px;
}
.channelView header nav > span:first-child {
  margin-left: 0;
}
.channelView header nav.inChannel .channel {
  display: none;
}
.channelView header nav.inMessages .messages {
  display: none;
}
.channelView header nav .tab {
  height: 29px;
  padding: 1px 1px 0;
  margin-right: -1px;
  vertical-align: bottom;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.channelView header nav .tab .holder {
  padding: 5px 13px 6px;
  font-size: 12px;
  color: rgba(0,0,0,0.76);
  text-shadow: 0 1px rgba(255,255,255,0.55);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.03)), color-stop(1, rgba(0,0,0,0.08)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.08) 100%);
  background:    -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.08) 100%);
  background:     -ms-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.08) 100%);
  background:      -o-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.08) 100%);
  background:         linear-gradient(to bottom, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.08) 100%);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08),0 0 13px rgba(0,0,0,0.05);
  display: block;
  position: relative;
  cursor: pointer;
}
.channelView header nav .tab.newMessage .holder {
  padding-right: 33px;
}
.channelView header nav .tab.newMessage .counter {
  right: 10px;
  top: 4px;
}
.channelView header nav .tab.active .holder {
  background: #fff;
  z-index: 3;
  cursor: default;
}
.stream {
  width: 580px;
  border-radius: 5px 5px;
  box-shadow:
    0 0 0 1px rgba(0,0,0,0.08),
    0 0 13px rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}
.pageName {
  padding: 8px 13px 5px;
  background: white;
}
.post {
  background: #fff;
  position: relative;
  box-shadow: inset 0 -1px rgba(0,0,0,0.08);
}
.post:first-child {
  border-radius: 5px 5px 0 0;
}
.post:last-child {
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}
.post:only-child {
  border-radius: 5px;
  box-shadow: none;
}
.stream .newTopic + .notifications + .posts .post:first-child {
  border-radius: 0;
}
.stream .newTopic + .notifications + .posts .post:only-child {
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}
.stream .newTopic {
  padding: 13px 21px 13px 84px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background:     -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background:      -o-linear-gradient(top, #fff 0%, #eee 100%);
  background:         linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-bottom: 1px solid rgba(0,0,0,0.13);
  border-radius: 5px 5px 0 0;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.stream .newTopic .avatar {
  left: 36px;
  top: 12px;
  width: 34px;
  position: absolute;
  z-index: 2;
  -webkit-transition: width 250ms, left 250ms;
     -moz-transition: width 250ms, left 250ms;
      -ms-transition: width 250ms, left 250ms;
       -o-transition: width 250ms, left 250ms;
          transition: width 250ms, left 250ms;
}
  .stream .newTopic.write .avatar {
    left: 21px;
    width: 50px;
  }
.stream .newTopic .holder,
.stream .answer .holder {
  position: relative;
  overflow: hidden;
}

/* big thanks to http://www.alistapart.com/articles/expanding-text-areas-made-elegant/ */
.expandingArea {
  position: relative;
  background: #fff;
  z-index: 2;
  min-height: 34px;
}

.expandingArea > textarea,
.expandingArea > pre {
  padding: 6px 5px;
  background: transparent;
  font: 13px/19.5px sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expandingArea > textarea {
  width: 100%;
  /* This height is used when JS is disabled */
}
.expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}
.expandingArea > pre {
  display: none;
}
.expandingArea.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

/* custom styles/transitions */
.expandingArea {
  border: 1px solid rgba(0,0,0,0.13);
  box-shadow: inset 1px 1px rgba(0,0,0,0.05);
  -webkit-transition: min-height 250ms, margin 250ms;
     -moz-transition: min-height 250ms, margin 250ms;
      -ms-transition: min-height 250ms, margin 250ms;
       -o-transition: min-height 250ms, margin 250ms;
          transition: min-height 250ms, margin 250ms;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.stream .newTopic.write .expandingArea,
.stream .answer.write .expandingArea {
  min-height: 50px;
  color: #000;
  resize: vertical;
  margin-bottom: 34px;
}

/* NOT NECESSARY BECAUSE OF AUTO RESIZING PLUGIN
.stream .newTopic textarea,
.stream .answer textarea {
  width: 100%;
  height: 34px;
  padding: 6px 5px;
  margin: 0;
  font: 13px/19.5px sans-serif;
  color: #808080;
  display: block;
  position: relative;
  z-index: 2;
  resize: none;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.13);
  box-shadow: inset 1px 1px rgba(0,0,0,0.05);
  -webkit-transition: height 250ms, margin 250ms;
     -moz-transition: height 250ms, margin 250ms;
      -ms-transition: height 250ms, margin 250ms;
       -o-transition: height 250ms, margin 250ms;
          transition: height 250ms, margin 250ms;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
  /* this disables transitions while resizing the textarea */
  /* NOT NECESSARY BECAUSE OF AUTO RESIZING PLUGIN
  .stream .answer textarea:active {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
  /* NOT NECESSARY BECAUSE OF AUTO RESIZING PLUGIN
  .stream .newTopic.write textarea,
  .stream .answer.write textarea {
    height: 50px;
    color: #000;
    resize: vertical;
    margin-bottom: 34px;
  }
  */
  .stream .controls {
    bottom: 1px;
    right: 0;
    width: 100%;
    position: absolute;
  }
    .stream .controls .hint { float: left; }
    .stream .controls .button { float: right; }

.stream .controls .postError {
  margin-left: 5px;
  color: #f00;
  display: inline-block;
}
.stream .notifications {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000;
     -moz-perspective: 1000;
      -ms-perspective: 1000;
       -o-perspective: 1000;
          perspective: 1000;
}
.stream .notification {
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -81px;
  height: 81px;
  color: black;
  text-shadow: none;
  background: hsl(336,67%,45%);
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
       -o-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(70deg);
     -moz-transform: rotateX(70deg);
      -ms-transform: rotateX(70deg);
       -o-transform: rotateX(70deg);
          transform: rotateX(70deg);
  opacity: 0;
}
.stream .notification.visible {
  opacity: 1;
  margin-top: 0;
  -webkit-transform: rotateX(0);
     -moz-transform: rotateX(0);
      -ms-transform: rotateX(0);
       -o-transform: rotateX(0);
          transform: rotateX(0);
}
.stream .notification.private {
  height: 34px;
  box-shadow: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.34);
}
.stream .notification.private p img {
  margin-right: 8px;
  vertical-align: bottom
}
.stream .notification.private section {
  padding-top: 6px;
  padding-left: 0;
  text-align: center;
}
.stream .notification section {
  min-height: 47px;
  padding: 21px 21px 13px 84px;
}
.stream .notification .info {
  float: left;
}
.stream .notification .info .name {
  display: block;
  color: black;
  vertical-align: top;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
}
.stream .notification .info p {
  color: #fff;
}
.stream .notification .controls {
  margin-top: 9px;
  float: right;
  position: static;
}
.stream .notification .controls > .button {
  margin-left: 5px;
  color: #000;
  background: #eee;
  box-shadow: 0 1px rgba(255,255,255,0.89) inset,0 1px rgba(0,0,0,0.21),0 1px 0 2px #b3235d,1px 0 0 2px #b3235d,-1px 0 0 2px #b3235d,0 2px 0 2px rgba(255,255,255,0.21),0 -1px 0 2px #a62156;
}
.stream .notification .controls > .button:active {
  background: #ddd;
}
.stream .notification .controls > .postError {
  margin-left: 5px;
  color: #f00;
  display: inline-block;
}
.stream .notification .avatar {
  top: 17px;
  width: 50px;
  cursor: pointer;
  position: absolute;
}
.stream .notification.log {
  min-height: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.55);
  text-shadow: 0 1px 1px rgba(255,255,255,0.34);
  background: #f2f2f2;
  border-bottom-color: rgba(0,0,0,0.08);
  border-top-color: transparent;
}
.stream .notification.log section {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 25px;
  min-height: 25px;
}
.stream .notification.log .avatar {
  top: 5px;
  left: 38px;
  width: 25px;
}
.stream .notification.log p {
  display: none;
}
.stream .notification.log .name {
  opacity: 0;
}
.stream .notification.log.granted .name,.stream .notification.log.denied .name {
  opacity: 1;
  color: #808080;
}
.stream .notification.log .controls {
  display: none;
}
.stream .notification.log.granted .granted,
.stream .notification.log.denied .denied {
  display: inline-block;
  max-width: 9999px;
  opacity: 1;
}
.stream .notification .granted,
.stream .notification .denied {
  height: 25px;
  max-width: 0;
  line-height: 25px;
  overflow: hidden;
  opacity: 0;
  display: none;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
}
.usermeta {
  left: 12px;
  top: 8px;
  position: absolute;
  height: 68px;
  padding: 15px 13px 0 70px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background:     -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background:      -o-linear-gradient(top, #fff 0%, #eee 100%);
  background:         linear-gradient(to bottom, #fff 0%, #eee 100%);
  border: 1px solid hsl(199, 0%, 88%);
  border-bottom-color: hsl(199, 0%, 85%);
  box-shadow: 0 1px 5px rgba(0,0,0,.08);
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: none;
}
.comment .usermeta {
  top: 4px;
  left: 27px;
  height: 52px;
  padding: 7px 13px 0 54px;
}
  .moderator .usermeta .name:after,
  .owner .usermeta .name:after {
    content: "Moderator";
    margin: 0 5px;
    padding: 1px 3px;
    color: white;
    text-shadow: none;
    font-weight: normal;
    font-size: 0.85em;
    vertical-align: text-top;
    background: hsl(199, 53%, 48%);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.13);
    border-bottom-color: rgba(0,0,0,.21);
  }
  .owner .usermeta .name:after {
    content: "Producer";
    background: hsl(81, 53%, 48%);
  }
  .avatar:hover {
    z-index: 1;
  }
  .avatar:hover + .usermeta {
    display: block;
  }
  .post .usermeta .name {
    color: black;
    display: block;
  }
  .post .usermeta .jid {
    color: gray;
  }
.post .opener {
  min-height: 47px;
  padding: 21px 21px 13px 84px;
}
.post .postmeta {
  float: right;
  margin: 0 0 0 13px;
  text-align: right;
  position: relative;
}
.post .postmeta nav {
  visibility: hidden;
}
.post .postmeta span,
.post .postmeta button,
.post .postmeta time {
  line-height: 19.5px;
}
.post .postmeta time,
.post .postmeta span {
  color: hsl(0,0%,75%);
  font-size: 11.5px;
}
.post .postmeta .share {
  position: relative;
}
.post .postmeta .share .action {
  margin: 6px 10px 0 0;
  width: 13px;
  height: 13px;
  background: white;
  font-size: 8px;
  text-align: center;
  line-height: 14px;
  border: 1px solid hsl(0,0%,75%);
  border-radius: 100%;
  float: right;
  cursor: pointer;
}
.post .postmeta .share .popup {
  left: -53px;
  top: 19px;
  display: none;
}
  .post .postmeta .popup.visible {
    display: -webkit-box;
  }
.post .postmeta button {
  padding: 0;
  height: 16px;
}
.post .postmeta button.delete {
  min-width: 16px;
}
.post .name {
  color: hsl(81, 40%, 44%);
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  display: none;
}
.post .name + .location {
  margin-left: 5px;
  font-size: 11px;
  line-height: 19.5px;
  color: rgba(0,0,0,0.34);
  display: none;
}
.post .opener:hover nav,
.post .comment:hover nav {
  visibility: visible;
}
.post .avatar {
  left: 21px;
  top: 17px;
  position: absolute;
}
  .post .moderator .avatar:after {
    content: "";
    top: 3px;
    right: 3px;
    width: 5px;
    height: 5px;
    position: absolute;
    background: hsl(199, 53%, 44%);
    border-radius: 3px;
  }
.post p {
  color: #333;
  display: inline;
}
.post .answer {
  margin-top: -5px;
  padding: 13px 89px 0 84px;
  position: relative;
}
  .post.noComments .answer {
    margin-top: -13px;
  }
  .post .answer .area {
    width: 100%;
    position: relative;
  }
  /* NOT NECESSARY BECAUSE OF AUTO RESIZING PLUGIN
  .post .answer textarea {
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: none;
  }
    .post .answer.write textarea {
      border-color: rgba(0,0,0,0.13);
      box-shadow:
        1px 1px white,
        inset 1px 1px rgba(0,0,0,0.05);
    }
  */
  .post .comments .answer .avatar {
    width: 34px;
    left: 84px;
    top: 13px;
    -webkit-transition: left 250ms;
       -moz-transition: left 250ms;
        -ms-transition: left 250ms;
         -o-transition: left 250ms;
            transition: left 250ms;
  }
    .post .comments .answer.write .avatar {
      left: 36px;
    }
.post:not('.noComments') .comments {
  border-top: 1px solid hsl(0, 0%, 95%);
}
.post .comments .comment {
  min-height: 34px;
  padding: 13px 21px 0 84px;
  position: relative;
}
.post .comments section:last-child {
  padding-bottom: 21px;
}
.post .comments .avatar {
  top: 13px;
  left: 36px;
  height: 34px;
  width: 34px;
  border-radius: 2px;
}
.post .comments .location {
  display: none;
}
.post p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.stream .message {
  min-height: 14px;
  padding-left: 66px;
  color: rgba(0,0,0,0.55);
  cursor: pointer;
}
.stream .message.new {
  background-color: rgba(0,0,0,0.08);
}
.stream .message.selected {
  color: #517312;
  background: #abe245;
}
.stream .message.selected .location,.stream .message.selected .time {
  color: rgba(81,115,18,0.55);
}
.stream .message:last-child {
  box-shadow: none;
}
.stream .message .avatar {
  width: 40px;
}
.stream .message p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stream .topic.ghost .name,
.stream .topic.ghost .location,
.stream .topic.ghost p span {
  display: inline-block;
}
.stream .topic.ghost .name {
  height: 16px;
  width: 89px;
  background: rgba(0,0,0,0.21);
}
.stream .topic.ghost .location {
  width: 144px;
  height: 14px;
  background: rgba(0,0,0,0.08);
}
.stream .topic.ghost .time {
  width: 50px;
  height: 16px;
  background: rgba(0,0,0,0.08);
}
.stream .topic.ghost .avatar {
  height: 50px;
  width: 50px;
  background: rgba(0,0,0,0.13);
}
.stream .topic.ghost .comments .avatar {
  height: 40px;
  width: 40px;
}
.stream .topic.ghost p span {
  height: 16px;
  margin-right: 3px;
  background: rgba(0,0,0,0.21);
}
.stream .empty,.stream .tutorial {
  height: auto;
  text-align: center;
  background: #fff;
}
.stream .loader {
  line-height: 50px;
  text-align: center;
  color: rgba(0,0,0,0.55);
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: block;
}
.stream .loader .spinner {
  width: 16px;
  height: 16px;
  vertical-align: top;
  background: url("/img/spinner.gif") no-repeat;
  display: inline-block;
}

.post .unread {
  box-shadow: 2px 0 hsl(81, 53%, 44%) inset;
}
.post .opener,
.post .comment {
  -webkit-transition: background-color 200ms;
     -moz-transition: background-color 200ms;
      -ms-transition: background-color 200ms;
       -o-transition: background-color 200ms;
          transition: background-color 200ms;
}
.post .opener .cancel-delete,
.post .comment .cancel-delete {
  display: none;
}
.post .embed {
  background: #f4f4f4;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
  margin-top: 1em;
}
.post .embed .title {
  display: block;
  background: #e7e7e7;
  margin: -5px -5px 5px -5px;
  padding: 0px 5px;
}
.stream .dangerZone {
  box-shadow: 0 1px rgba(255,255,255,0.89),0 1px 0 rgba(0,0,0,0.21) inset,0 0 0 1px rgba(0,0,0,0.13) inset;
  background-color: #f00;
  border-radius: 3px;
}
.stream .dangerZone .cancel-delete {
  display: inline-block;
}
.stream .dangerZone span,
.stream .dangerZone time,
.stream .dangerZone p,
.stream .dangerZone button {
  border-radius: 1px;
  box-shadow: 0 1px rgba(255,255,255,0.89) inset,0 1px 0 rgba(0,0,0,0.21),0 0 0 1px rgba(0,0,0,0.13);
}
.stream .dangerZone button {
  border-radius: 3px;
}
.conversation article {
  min-height: 40px;
  padding: 13px 13px 13px 64px;
  box-shadow: 0 -1px rgba(0,0,0,0.13) inset;
  position: relative;
}
.conversation article:last-child {
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}
.conversation article .avatar {
  left: 13px;
  width: 40px;
  border-radius: 2px;
  position: absolute;
}
.conversation article .postmeta {
  margin: 0;
  float: none;
  text-align: left;
}
.conversation article .postmeta .name {
  color: #000;
}
.conversation article .postmeta .location {
  margin-left: 0;
  display: none;
}
.conversation article p {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}
.conversation article p:last-child {
  margin-bottom: 0;
}
.conversation article p .time {
  float: right;
  color: rgba(0,0,0,0.34);
  font-size: 11.5px;
  line-height: 19.5px;
}
.conversation .you {
  background: #f7f7f7;
}
.moderationPanel {
  display: none;
}
.moderate .moderationPanel {
  height: 28px;
  width: 100%;
  margin: 5px 0 13px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.08)), color-stop(1, rgba(0,0,0,0.21)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.21) 100%);
  background:    -moz-linear-gradient(top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.21) 100%);
  background:     -ms-linear-gradient(top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.21) 100%);
  background:      -o-linear-gradient(top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.21) 100%);
  background:         linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.21) 100%);
  color: #000;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset,0 -1px rgba(0,0,0,0.03),0 -2px rgba(0,0,0,0.03),0 -3px rgba(0,0,0,0.03);
  border-radius: 0 0 5px 5px;
}
.moderate .moderationPanel > div {
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-box-flex: 1;
       -o-box-flex: 1;
          box-flex: 1;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
}
.moderate .moderationPanel > div:first-child {
  border-bottom-left-radius: 5px;
}
.moderate .moderationPanel > div:last-child {
  border-bottom-right-radius: 5px;
}
.moderate .moderationPanel > div:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.05)), color-stop(1, rgba(0,0,0,0.13)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.13) 100%);
  background:    -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.13) 100%);
  background:     -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.13) 100%);
  background:      -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.13) 100%);
  background:         linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.13) 100%);
}