.sidebar {
  background: hsl(202,0%,100%);
}
.channel .info .owner,
.channel .info .status,
.sidebar button {
  color: hsl(0,0%,21%);
}
.channel .info .status {
  opacity: 0.65;
}
.personal.channel,
.personal.channel.selected,
.sidebar button {
  background: hsl(202,0%,95%);
}
.personal.channel,
.sidebar button {
  border: none;
  box-shadow: none;
}
.sidebar nav {
  box-shadow: 
    0 1px hsl(202,0%,80%);
}
.channel.selected {
  background: none;
  box-shadow: none;
}
.channel .avatar {
  box-shadow: none;
}
.content {
  box-shadow: 
    -1px 0 rgba(0,0,0,.21),
    -2px 0 rgba(0,0,0,.05);
}