body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(96, 133, 157);
  color: #132B36;
}

a {
  color: #E28C35;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  font-family: Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
}

#toolbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 10px 10px 10px 20px;
  box-shadow: 0 0 10px black;
  background-color: #132B36;
  color: white;
}

#toolbar .user {
  font-weight: bold;
  font-size: 16px;
}

#toolbar .powered {
  position: absolute;
  right: 50px;
  font-familiy: "New Helvetica", Helvetica, Arial, sans-serif;
}

#toolbar .powered a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#toolbar .powered a:hover {
  text-decoration: underline;
}

#channel-view {
  background-color: white;
  margin: 0px 300px 0px 300px;
  padding: 4em 40px 20px 40px;
  border-right: 1px solid #ccc;
  box-shadow: 0px 0px 10px #333;
}

#channel-view header .channel-title {
  margin: 0px;
  font-weight: normal;
}

#channel-view header .channel-name {
  font-size: 80%;
  font-weight: normal;
}

#channel-view header .channel-description {
  margin-top: 0.5em;
}

#channel-posts .loading {
  text-align: center;
  padding: 10px;
}

#channel-posts .thread {
  border: 1px solid #EFECDF;
  border-left: none;
  border-right: none;
  margin-top: -1px;
  padding: 10px;
}

#channel-posts .author-name {
  font-weight: bold;
  font-size: 120%;
}

#channel-posts .author-id {
  font-size: 80%;
  color: #444;
}

#channel-posts .comment {
  margin-bottom: 1em;
  padding: 20px;
  border-radius: 10px;
  background-color: #EFECDF;
  font-size: 80%;
}

#channel-followers {
  position: absolute;
  right: 20px;
  width: 240px;
  padding: 20px;
  border-radius: 0px 20px 20px 0;
  background-color: rgba(239, 237, 223, 0.4);
}

#channel-followers h1 {
  margin-top: 0px;
}

#channel-followers ul {
  margin-left: 0;
  padding-left: 0;
}

#channel-followers li {
  list-style-type: none;
  line-height: 200%;
}
