
.metadata-pane img {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 8px;
  border: 1px solid #d6d3c7;
}

.metadata-pane h1 {
  margin: 0px;
  font-size: 200%;
  font-weight: normal;
}

.metadata-pane p {
  margin-top: 0;
  margin-left: 72px;
  font-size: 120%;
}

.metadata-pane .id {
  font-size: 60%;
  color: #a9a79e;
}

