.content.singlePost {
  min-width: 0;
  left: 0;
  box-shadow: none;
}

.singlePost .stream p {
  display: inline;
}

.singlePost .channelView {
  margin-right: 0;
  padding: 0;
  float: none;
  position: relative;
  /* 'hook in' when closing is finished */
  -webkit-transition: top 0 500ms;
     -moz-transition: top 0 500ms;
      -ms-transition: top 0 500ms;
       -o-transition: top 0 500ms;
          transition: top 0 500ms;
}
.singlePost.action-pressed .channelView,
.singlePost.action-open .channelView { 
  -webkit-transition: top 0;
     -moz-transition: top 0;
      -ms-transition: top 0;
       -o-transition: top 0;
          transition: top 0;
}

.singlePost .topics:only-of-type article {
  box-shadow:
    0 1px rgba(0,0,0,.01),
    0 2px rgba(0,0,0,.02),
    0 3px rgba(0,0,0,.03);
}
.singlePost.action-open .topics:only-of-type article {
  box-shadow: 
    0 -2px rgba(0,0,0,.03) inset,
    0 1px rgba(0,0,0,.01),
    0 2px rgba(0,0,0,.02),
    0 3px rgba(0,0,0,.03),
    0 4px rgba(0,0,0,.03),
    0 5px rgba(0,0,0,.02),
    0 6px rgba(0,0,0,.01);
}

.joinBuddycloud {
  height: 211px;
  width: 554px;
  margin: -213px 12px 0;
  padding: 21px;
  background: hsl(0,0%,90%);
  border: 1px solid rgba(0,0,0,.13);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.08) inset;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin 500ms;
     -moz-transition: margin 500ms;
      -ms-transition: margin 500ms;
       -o-transition: margin 500ms;
          transition: margin 500ms;
}
  .action-open .joinBuddycloud {
    margin-top: -1px;
  }
  .joinBuddycloud .horizontal > div {
    margin-right: 8px;
  }
  .joinBuddycloud h3 {
    margin: 13px 0 8px;
    color: #333;
  }