<div class="local span-2">
  <h1 data-l10n="discoveryLocal">Local</h1>
    <div class="mostActive span-1">
      <h2 data-l10n="discoveryActive">Most active</h2>
      <% if (mostActive) { %>
      <div class="list">
        <% _.each(mostActive, function(channel) { %>
        <div class="channel justify" id="<%= channel.jid() %>">
          <img class="avatar" data-type="<%= channel.channelType() %>" src="<%= channel.jidAvatarUrl(50) %>"></img>
          <div class="info flex">
            <span class="owner"><%- channel.title() %></span>
            <span class="about"><%- channel.description() %></span>
          </div>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
    <div class="popular span-1">
      <h2 data-l10n="discoveryPopular">Popular</h2>
      <% if (popular) { %>
      <div class="list">
        <% _.each(popular, function(channel) { %>
        <div class="channel justify" id="<%= channel.jid() %>">
          <img class="avatar" data-type="<%= channel.channelType() %>" src="<%= channel.jidAvatarUrl(50) %>"></img>
          <div class="info flex">
            <span class="owner"><%- channel.title() %></span>
            <span class="about"><%- channel.description() %></span>
          </div>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
</div>
<div class="global span-2">
  <h1 data-l10n="discoveryGlobal">Global</h1>
    <div class="mostActive span-1">
      <h2 data-l10n="discoveryActive">Most Active</h2>
      <% if (mostActive) { %>
      <div class="list">
        <% _.each(mostActive, function(channel) { %>
        <div class="channel justify">
          <img class="avatar" data-type="<%= channel.channelType() %>" src="<%= channel.jidAvatarUrl(50) %>"></img>
          <div class="info flex">
            <span class="owner"><%- channel.title() %></span>
            <span class="about"><%- channel.description() %></span>
          </div>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
    <div class="popular span-1">
      <h2 data-l10n="discoveryPopular">Popular</h2>
      <% if (popular) { %>
      <div class="list">
        <% _.each(popular, function(channel) { %>
        <div class="channel justify">
          <img class="avatar" data-type="<%= channel.channelType() %>" src="<%= channel.jidAvatarUrl(50) %>"></img>
          <div class="info flex">
            <span class="owner"><%- channel.title() %></span>
            <span class="about"><%- channel.description() %></span>
          </div>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
</div>
</div>
