<div class="clearfix">
  <nav>
    <a href="http://buddycloud.com/" class="about onDark">about</a>
    <a href="https://buddycloud.org/wiki/" class="developers onDark">developers</a>
  </nav>
  <div class="floatRight formHolder">
    <nav>
      <a href="#" class="login onDark">login</a>
      <a href="#" class="register onDark callToAction">join</a>
    </nav>
    <form class="clearfix register">
      <div class="horizontal fit">
        <div>
          <label for="register_name">Username</label>
          <input type="text" id="register_name" class="small" required="required">
        </div>
        <div>
          <label for="register_password">Password</label>
          <input type="password" id="register_password" class="small" required="required">
        </div>
        <div class="email">
          <label for="register_email">Email</label>
          <input id="register_email" class="small" type="email">
        </div>
      </div>
      <button type="submit" id="register_submit" class="left callToAction">Join buddycloud</button>
    </form>
    <form class="clearfix login">
      <div>
        <label for="login_name">Username</label>
        <input type="text" class="small xl" id="login_name" required="required">
      </div>
      <div>
        <label for="login_password">Password</label><a class="forgot">Forgot Password?</a>
        <input type="password" class="small xl" id="login_password" required="required">
      </div>
      <div class="submit">
        <span class="storePassword">
          <input type="checkbox" id="store_local" />
          <label for="store_local">stay logged in</label>
        </span>
        <button type="submit" id="login_submit" class="callToAction">Login</button>
      </div>
    </form>
  </div>
</div>
<div class="hero centered stretchWidth vertical">
  <h1>buddycloud</h1>
  <p>Share, discover and communicate in a magically simple way.</p>
</div>
