<div class="clearfix">
  <nav>
    <a href="http://buddycloud.com/" class="about onDark" data-l10n="aboutLink">about</a>
    <a href="https://buddycloud.org/wiki/" class="developers onDark" data-l10n="developersLink">developers</a>
  </nav>
  <div class="floatRight formHolder">
    <nav>
      <a href="#" class="login onDark" data-l10n="loginLink">login</a>
      <a href="#" class="register onDark callToAction" data-l10n="joinLink">join</a>
    </nav>
    <form class="clearfix register">
      <div class="horizontal fit">
        <div>
          <label for="register_name" data-l10n="username">Username</label>
          <input type="text" id="register_name" class="small" required="required">
        </div>
        <div>
          <label for="register_password" data-l10n="password">Password</label>
          <input type="password" id="register_password" class="small" required="required">
        </div>
        <div class="email">
          <label for="register_email" data-l10n="email">Email</label>
          <input id="register_email" class="small" type="email">
        </div>
      </div>
      <button type="submit" id="register_submit" class="left callToAction" data-l10n="joinButton">Join buddycloud</button>
    </form>
    <form class="clearfix login">
      <div>
        <label for="login_name" data-l10n="username">Username</label>
        <input type="text" class="small xl" id="login_name" required="required">
      </div>
      <div>
        <label for="login_password" data-l10n="password">Password</label><a class="forgot" data-l10n="forgotPassword">Forgot password?</a>
        <input type="password" class="small xl" id="login_password" required="required">
      </div>
      <div class="submit">
        <span class="storePassword">
          <input type="checkbox" id="store_local" />
          <label for="store_local" data-l10n="keepLogin">store credentials</label>
        </span>
        <button type="submit" id="login_submit" class="callToAction" data-l10n='loginButton'>Login</button>
      </div>
    </form>
  </div> 
</div>
<div class="hero centered stretchWidth vertical">
  <h1>buddycloud</h1>
  <p data-l10n="welcomeMessage">Share, discover and communicate.</p>
</div>
