/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*homepage*/

* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

nav a.onDark {
  color: #8b8989;
  text-shadow: 0 1px #eee9e9;
  text-decoration:none;
  padding: 3px;
}

.register {
	display: none;
}

.hero {
	text-align: center;
	text-shadow: 0 1px 1px black;
	padding: 20px;
}

.hero h1 {
	font-size: 30px;
}

/*discover*/

.local h1 {
  color: #8b8989;
  text-shadow: 1px 1px #eee9e9;
  font-size: 25px;
}

.global h1 {
  color: #8b8989;
  text-shadow: 1px 1px #eee9e9;
  font-size: 25px;
}

.mostActive {
  margin-top: 10px;
}

h2 {
  color: #696969;
  text-shadow: 1px 1px #eee9e9;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.list {
  margin-bottom: 34px;
  clear: both;
}

.channel {
  width: 100%;
  height: auto;
  padding: 2px;
  cursor: pointer;
  table-layout: fixed;
  clear: both;
}

.channel .avatar {
  margin: 3px;
  position: static;
  float:left;
}

.channel .info .owner {
  color: rgba(0,0,0,0.89);
  font-size: 14px;
  font-weight:bold
}
.channel .info .about, .status {
  color: rgba(0,0,0,0.65);
  max-height: 33px;
  overflow: hidden;
  display: block;
  font-size: 11px;
}

footer {
  padding: 10px;
  font-size: 12px;
  border-top: 1px solid hsl(0,0%,90%);
}

footer p {
  color: #333;
  text-align: center;
}

/*sidebar*/

.counter {
	float: right;
	font-size: 0;
}

/*personal channel*/
.personal.channel {
  background-color: #778899;
}

.personal.channel .info {
  width: 100%;
  height: auto;
  padding: 2px;
  cursor: pointer;
  table-layout: fixed;
  clear: both;
}

.personal.channel .avatar {
  margin: 3px;
  position: static;
  float:left;
}

.personal.channel .info .owner {
  color: rgba(0,0,0,0.89);
  font-size: 14px;
  font-weight:bold
}

.personal.channel .info .status {
  color: rgba(0,0,0,0.65);
  max-height: 33px;
  overflow: hidden;
  display: block;
  font-size: 11px;
}

.personal.channel .settings {
  display: none;
}

/*action bar*/
.actionBar {
  display: none;
}

/*channels*/


/*channel view*/

.content {
	display: none;
}

.home {
	display: none;
}

.close {
	display: none;
}

.join {
	display: none;
}

.channelHeader a {
	display: none;
}

.left h2 {
	display: none;
}

.posts .post {
	background-color: #C4CED1;
	border: solid black 1px;
}

.opener {
	background-color: #C4CED1;
}

.opener p {
	margin: 10px;
}

.comment {
	padding-left: 15px;
}

.comment .avatar {
	float: left;
}

.comment {
	background-color: #EFECDF;
	border: solid black 1px;
}

.comment p {
	margin: 10px;
	margin-top: 25px;
}

.usermeta {
	float: right;
	margin-right: 10px;
}

.name {
	font-weight: bold;
}