.c9revisions
/new buddycloud.tmproj
*.swp
locales/wti-config.wti
.DS_Store
css/style.min.css
js/app.min.js*

# https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.project
.settings
config.js
