define({
  // Where to find your API server
  // Note: it is not possible to use self signed certificates for AJAX requests
  // (see https://buddycloud.org/wiki/Install#SSL_and_API_requests for details)
  baseUrl: 'https://EXAMPLE.COM/api/',
  
  // Domain that you your users live on. 
  // For example, if your users' IDs look like user@example.com, then you would 
  // set the homeDomain to example.com.
  homeDomain: 'EXAMPLE.COM',
  
  // To enable oEmbed support (link previews), sign up on http://embed.ly (they 
  // have a free plan).
  embedlyKey: '',
  
  // If you see "some content is unencrypted" messages while browsing, change 
  // embedlySecure to "true".
  embedlySecure: true,

  // If you are a buddycloud developer you can optionally specify a port number
  // to run the server on (defaults to 3000). Safely ignored by everyone elese.
  // port: 3000,
})
