<div class="antiscroll-inner scrollHolder">
  <% _.each(metadatas, function(metadata, index) { %>
  <a class="channel" href="<%= routeUrl(metadata.channel) %>">
    <div class="avatar">
      <img data-type="<%- metadata.channelType() %>" src="<%= metadata.avatarUrl(50) %>" />
      <!-- <span class="channelpost counter">2</span> -->
    </div>
    <div class="info">
      <span class="owner"><%- metadata.title() %></span>
      <span class="status"><%- metadata.description() %></span>
    </div>
  </a>
  <% }); %>
</div><!-- /antiscroll-inner -->
