<div class="antiscroll-inner scrollHolder">
  <% _.each(metadatas, function(metadata, index) { %>
  <div class="channel">
    <div class="avatar">
      <img data-channeltype="<%- metadata.channelType() %>" src="<%= metadata.avatarUrl(50) %>" />
      <!-- <span class="channelpost counter">2</span> -->
    </div>
    <div class="info">
      <span class="owner"><%- metadata.title() %></span>
      <span class="status"><%- metadata.description() %></span>
    </div>
  </div>
  <% }); %>
</div><!-- /antiscroll-inner -->
