<div class="metadata">
  <div class="avatar">
    <img src="<%= metadata.avatarUrl(50) %>" />
    <!-- <span class="channelpost counter">2</span> -->
    <!-- <span class="message counter">2</span> -->
  </div>
  <div class="info">
    <span class="owner"><%= metadata.title() %></span>
    <span class="status"><%= metadata.description() %></span>
  </div>
</div>
<div class="settings noSelect">
  <div class="popup">
    <div class="centered vertical">
      <div class="arrow"></div>
      <ul>
        <li class="newChannel">Create Topic Channel</li>
        <!-- TODO wait for fixes on HTTP API
        <li class="preferences">Preferences</li> -->
        <li class="logout">Logout</li>
      </ul>
    </div>
  </div>
</div>
