  <div class="sidebar">
    <div class="personal channel">
      <div class="avatar" style="background-image: url(public/avatars/user1.jpg)">
        <span class="channelpost counter">2</span>
        <span class="message counter">2</span>
      </div>
      <div class="info">
        <span class="owner">felix<span class="domain">@buddycloud.com</span></span>
        <span class="status">Aww yeah, Lion rocks</span>
      </div>
      <nav>
        <button class="logout">Logout</button>
      </nav>
    </div>
    <nav class="actionBar clearfix">
      <button class="discover active"><span>Discover New Channels</span></button>
    </nav>
    <div class="search">
      <input type="search" results="5" autosave="channelSearch" placeholder="Search Channels ..." />
    </div>
    <div id="channels" class="antiscroll-wrap">
      <div class="antiscroll-inner scrollHolder">
        <div class="channel selected">
          <div class="avatar" style="background-image: url(public/avatars/user2.jpg)">
            <span class="channelpost counter">2</span>
          </div>
          <div class="info">
            <span class="owner">vera<span class="domain">@buddycloud.com</span></span>
            <span class="status">What a wonderful day</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel2.jpg)">
            <span class="channelpost counter admin">1</span>
          </div>
          <div class="info">
            <span class="owner">moviefans<span class="domain">@buddycloud.com</span></span>
            <span class="status">Harry Potter, tonight!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel3.jpg)">
            <span class="channelpost counter admin">1</span>
          </div>
          <div class="info">
            <span class="owner">on-the-box<span class="domain">@bbc.co.uk</span></span>
            <span class="status">You gonna love the new Dexter episodes</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/topic.png)">
            <span class="channelpost counter">2</span>
          </div>
          <div class="info">
            <span class="owner">lolcats<span class="domain">@buddycloud.com</span></span>
            <span class="status">I can haz your nose?</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/user4.jpg)">
          </div>
          <div class="info">
            <span class="owner">martin<span class="domain">@buddycloud.com</span></span>
            <span class="status">working on the webgl project</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/topic.png)">
          </div>
          <div class="info">
            <span class="owner">music<span class="domain">@buddycloud.com</span></span>
            <span class="status">New Foo Fighter Album online - check it out!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/user7.jpg)">
          </div>
          <div class="info">
            <span class="owner">verena<span class="domain">@buddycloud.com</span></span>
            <span class="status">test's are over - party!!!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel7.jpg)">
          </div>
          <div class="info">
            <span class="owner">fans<span class="domain">@steam.com</span></span>
            <span class="status">the cake is a lie!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel8.jpg)">
          </div>
          <div class="info">
            <span class="owner">cave<span class="domain">@minecraft.com</span></span>
            <span class="status">Buy minecraft - now!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/anon.png)">
            <span class="channelpost counter">2</span>
          </div>
          <div class="info">
            <span class="owner">steve<span class="domain">@buddycloud.com</span></span>
            <span class="status">all your base belongs to us</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel2.jpg)">
            <span class="channelpost counter admin">1</span>
          </div>
          <div class="info">
            <span class="owner">moviefans<span class="domain">@buddycloud.com</span></span>
            <span class="status">Harry Potter, tonight!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel3.jpg)">
            <span class="channelpost counter admin">1</span>
          </div>
          <div class="info">
            <span class="owner">on-the-box<span class="domain">@bbc.co.uk</span></span>
            <span class="status">You gonna love the new Dexter episodes</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel4.jpg)">
            <span class="channelpost counter">2</span>
          </div>
          <div class="info">
            <span class="owner">lolcats<span class="domain">@buddycloud.com</span></span>
            <span class="status">I can haz your nose?</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/user4.jpg)">
          </div>
          <div class="info">
            <span class="owner">martin<span class="domain">@buddycloud.com</span></span>
            <span class="status">working on the webgl project</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel6.jpg)">
          </div>
          <div class="info">
            <span class="owner">music<span class="domain">@buddycloud.com</span></span>
            <span class="status">New Foo Fighter Album online - check it out!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/user7.jpg)">
          </div>
          <div class="info">
            <span class="owner">verena<span class="domain">@buddycloud.com</span></span>
            <span class="status">test's are over - party!!!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel7.jpg)">
          </div>
          <div class="info">
            <span class="owner">fans<span class="domain">@steam.com</span></span>
            <span class="status">the cake is a lie!</span>
          </div>
        </div>
        <div class="channel">
          <div class="avatar" style="background-image: url(public/avatars/channel8.jpg)">
          </div>
          <div class="info">
            <span class="owner">cave<span class="domain">@minecraft.com</span></span>
            <span class="status">Buy minecraft - now!</span>
          </div>
        </div>
      </div><!-- /antiscroll-inner -->
    </div><!-- /channels -->
    <button id="create_topic_channel"><span>Create Topic Channel</span></button>
  </div>