<header class="channelHeader justify">
  <div class="avatar" style="background-image: url(avatars/user2_big.jpg)"></div>
  <div class="flex titleText">
    <h2 class="owner">Vera Maier</h2>
    <div class="about">I'm Vera, I love to cook, I love clothes and most of all, I love my boyfriend.</div>
  </div>
  <nav>
    <span class="follow button">Follow</span>
  </nav>
  <a href="http://www.buddycloud.com" id="poweredby">powered by buddycloud</a>
</header>
<section class="stream clearfix">
  <section class="newTopic">
    <img class="avatar" src="avatars/user1.jpg" />
    <textarea placeholder="New Topic..."></textarea>
    <div class="controls clearfix">
      <div class="hint">ctrl + enter to post</div>
      <div class="button callToAction createComment">Post</div>
    </div>
  </section>
  <div class="notifications">
    <!-- notification.html -->
  </div>
  <section class="posts">
    <!-- post.html -->
  </section>
  <p class="loader">
    <span class="spinner"></span>
  </p>
</section>