<div class="arrow"></div>
<div class="holder">
  <div class="box">
    <section class="channelInfo">
      <h4><%- channel %></h4>
      <div class="currentRole"><%- role %></div>
    </section>
    <section class="action changeRole">
      <h5 data-l10n="changeRole">Change role</h5>
      <select>
        <option value="moderator" data-l10n="moderatorRole">moderator</option>
        <option value="followerPlus" data-l10n="followerPlusRole">follower+post</option>
        <option value="follower" selected data-l10n="followerRole">follower</option>
      </select>
      <section class="info">
        <div class="moderator">
          <ul data-l10n="moderatorRights">
            <li>read your channel</li>
            <li>write comments &amp; messages</li>
            <li>post new topics</li>
            <li>approve new followers</li>
            <li>set user's roles</li>
            <li>delete posts</li>
          </ul>
        </div>
        <div class="followerPlus">
          <ul data-l10n="followerPlusRights">
            <li>read your channel</li>
            <li>write comments &amp; messages</li>
            <li>post new topics</li>
          </ul>
        </div>
        <div class="follower">
          <ul data-l10n="followerRights">
            <li>read your channel</li>
          </ul>
        </div>
      </section>
    </section>
    <section class="action banUser">
      <h5 data-l10n="banUser">Ban User</h5>
      <div class="info">
        <ul>
          <li class="negative" data-l10n="banUserInfo">Remove channel access.</li>
        </ul>
      </div>
    </section>
    <section class="actionRow choose">
      <div class="changeRoleButton" data-l10n="changeRole">Change role</div>
      <div class="banUserButton" data-l10n="banUser">Ban User</div>
    </section>
    <section class="actionRow confirm">
      <div class="cancelButton" data-l10n="cancelButton">Cancel</div>
      <div class="okButton" data-l10n="okButton">Ok</div>
    </section>
  </div><!-- /box -->
</div><!-- /holder -->
