<div class="infoToggle">
  <h4 class="title" data-l10n="infoToggle">Info</h4>
  <span class="icon"></span>
</div>
<div class="holder">
  <section class="meta">
    <p class="address">
      <span class="title" data-l10n="address">Channel address:</span>
      <span class="data"><%= metadata.channel %></span>
    </p>
    <p class="<%= metadata.accessModel() == 'open' ? 'open' : 'closed' %>">
      <span class="title" data-l10n="channelIs">This channel is:</span>
      <span class="data"><%= metadata.accessModel() == 'open' ? 'Public' : 'Private' %></span>
    </p>
    <p class="broadcast">
      <span class="title" data-l10n="broadcastingFor">Broadcasting for:</span>
      <span class="data"></span>
    </p>
  </section>
</div>
