      <div class="discoverChannels clearfix">
        <div class="local span-2">
          <h1>Local</h1>
          <div class="mostActive span-1">
            <h2>Most Active</h2>
            <div class="list">
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user12.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Franz</span>
                  <span class="about">Hanging out at starbucks</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user11.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Lisa</span>
                  <span class="about">Where is the love?</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user13.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Ralf</span>
                  <span class="about">Ich bin ein Berliner!</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user6.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Steffi</span>
                  <span class="about">Listening to Fuadadeimuada</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user7.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Anna</span>
                  <span class="about">First Season of Game of Thrones was a blast!</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
            </div>
          </div>
          <div class="popular span-1">
            <h2>Popular</h2>
            <div class="list">
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user1.jpg)"></div>
                <div class="info flex">
                  <span class="owner">mrflix</span>
                  <span class="about">I don't like cinema</span>
                </div>
                <div class="follow button disabled">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user4.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Martin</span>
                  <span class="about">Handed in my thesis. Like a boss.</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user2.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Vera</span>
                  <span class="about">Munich here I come.</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user3.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Tom</span>
                  <span class="about">Island is great. Let's make music</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user5.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Josef</span>
                  <span class="about">Desmond Myers really knows how to rap</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
            </div>
          </div>
        </div>
        <div class="global span-2">
          <h1>Global</h1>
          <div class="mostActive span-1">
            <h2>Most Active</h2>
            <div class="list">
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user12.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Franz</span>
                  <span class="about">Hanging out at starbucks</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user11.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Lisa</span>
                  <span class="about">Where is the love?</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user13.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Ralf</span>
                  <span class="about">Ich bin ein Berliner!</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user6.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Steffi</span>
                  <span class="about">Listening to Fuadadeimuada</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user7.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Anna</span>
                  <span class="about">First Season of Game of Thrones was a blast!</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
            </div>
          </div>
          <div class="popular span-1">
            <h2>Popular</h2>
            <div class="list">
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user1.jpg)"></div>
                <div class="info flex">
                  <span class="owner">mrflix</span>
                  <span class="about">I don't like cinema</span>
                </div>
                <div class="follow button disabled">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user4.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Martin</span>
                  <span class="about">Handed in my thesis. Like a boss.</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user2.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Vera</span>
                  <span class="about">Munich here I come.</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user3.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Tom</span>
                  <span class="about">Island is great. Let's make music</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user5.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Josef</span>
                  <span class="about">Desmond Myers really knows how to rap</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
            </div>
          </div>
        </div>
        <div class="location span-1">
          <h1>Location</h1>
          <div class="nearby span-1">
            <h2>Nearby</h2>
            <div class="list">
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user12.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Franz</span>
                  <span class="about">Hanging out at starbucks</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user11.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Lisa</span>
                  <span class="about">Where is the love?</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user13.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Ralf</span>
                  <span class="about">Ich bin ein Berliner!</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user6.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Steffi</span>
                  <span class="about">Listening to Fuadadeimuada</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
              <div class="channel justify">
                <div class="avatar" style="background-image: url(avatars/user7.jpg)"></div>
                <div class="info flex">
                  <span class="owner">Anna</span>
                  <span class="about">First Season of Game of Thrones was a blast!</span>
                </div>
                <div class="follow button">Follow</div>
              </div>
            </div>
          </div>
        </div>
      </div>