<form class="stream clearfix">
  <h2 class="pageName" data-l10n="editChannel">Edit channel</h2>
  <div class="avatar">
    <label data-l10n="avatarLabel">Avatar</label>
    <div>
      <input type="file" id="avatar">
      <!-- <p class="hint">or change on <a href="http://gravatar.com/">gravatar.com</a></p> -->
    </div>
  </div>
  <div class="title">
    <label for="channel_title" data-l10n="channelTitle">Channel title</label>
    <input type="text" id="channel_title" value="<%= metadata.title() || '' %>"/>
  </div>
  <div class="description area">
    <label for="channel_description" data-l10n="channelDescription">Channel description</label>
    <textarea id="channel_description"><%- metadata.description() || '' %></textarea>
  </div>  
  <!--
    Not handled yet
  <div class="status">
    <label for="channel_mood">Status</label>
    <input type="text" id="channel_status" placeholder="How are you doing?" value="<%= metadata.description() || '' %>"/>
  </div> -->
  <!--
    Location isn't currently handled 
    <div class="location">
    <label for="channel_location">Current Location</label>
    <input type="text" id="channel_location" /> 
  </div> -->
  <div class="access">
    <label for="channel_public_access" data-l10n="publicAccess">Open channel</label>
    <div>
      <input type="checkbox" id="channel_public_access"/>
    </div>
  </div>
  <div class="role">
    <label for="channel_default_role" data-l10n="defaultRole">Default role</label>
    <div>
      <select id="channel_default_role">
        <option value="follower" data-l10n="followerRole">follower</option>
        <option value="followerPlus" data-l10n="followerPlusRole">follower+post</option>
      </select>
      <span class="hint followerSelected">
        <span class="follower" data-l10n="followerInfo">
          can only read your channel
        </span>
        <span class="followerPlus" data-l10n="followerPlusInfo">
          can read and post messages in your channel
        </span>
      </span> 
    </div>
  </div>
</form>  
<nav class="bottom clearfix">
  <div class="floatLeft twoStepConfirmation">
    <div class="button white delete stepOne" data-l10n="deleteChannel">Delete channel</div>
    <div class="button danger stepTwo" data-l10n="confirmButton">Confirm</div>
  </div>
  <div class="button callToAction save" data-l10n="saveButton">Save</div>
  <div class="button discard" data-l10n="discardButton">Discard</div>
</nav>
