<img class="avatar" src="<%= metadata.avatarUrl(75) %>">
<div class="flex titleText">
  <h2 class="owner" title="<%= metadata.title() %>"><%= metadata.title() %></h2>
  <div class="about" title="<%= metadata.description() %>"><%= metadata.description() %></div>
</div>
<nav class="inChannel">
  <span class="edit button" data-l10n="editButton">Edit</span>
  <span class="follow button" data-l10n="followButton">Follow</span>
</nav>
<a href="http://www.buddycloud.com" id="poweredby" data-l10n="poweredBy">powered by buddycloud</a>
