<article class="post">
  <section class="opener">
    <img class="avatar" src="avatars/user2.jpg" />
    <div class="postmeta">
      <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
    </div>
    <p>Pretend. You pretend the feelings are there, for the world, for the people around you.</p>
  </section>
  <section class="comments">
    <!-- comment.html -->
    <section class="answer">
      <img class="avatar" src="avatars/user1.jpg" />
      <textarea placeholder="comment"></textarea>
      <div class="controls clearfix">
        <div class="hint">ctrl + enter to post</div>
        <div class="button callToAction createComment">Post</div>
      </div>
    </section>
  </section>
</article>