<section class="stream private clearfix">
  <article class="notification visible private">
    <section>
      <p><img src="/img/padlock.png" />This channel is private. You have to follow it to see it's content.</p>
    </section>
  </article>
  <article class="topic ghost">
    <section class="opener">
      <div class="avatar"></div>
      <div class="postmeta">
        <span class="time"></span>
      </div>
      <span class="name"></span><span class="location"></span>
      <p><span style="width: 90%"></span><span style="width: 99%"></span><span style="width: 30%"></span></p>
    </section>
    <section class="comments">
      <section class="comment">
        <div class="avatar"></div>
        <div class="postmeta">
          <span class="time"></span>
        </div>
        <span class="name"></span><span class="location"></span>
        <p><span style="width: 80%"></span><span style="width: 30%"></span></p>
      </section>
      <section class="comment">
        <div class="avatar"></div>
        <div class="postmeta">
          <span class="time"></span>
        </div>
        <span class="name"></span><span class="location"></span>
        <p><span style="width: 90%"></span></p>
      </section>
      <section class="comment">
        <div class="avatar"></div>
        <div class="postmeta">
          <span class="time"></span>
        </div>
        <span class="name"></span><span class="location"></span>
        <p><span style="width: 75%"></span><span style="width: 50%"></span></p>
      </section>
      <section class="comment">
        <div class="avatar"></div>
        <div class="postmeta">
          <span class="time"></span>
        </div>
        <span class="name"></span><span class="location"></span>
        <p><span style="width: 95%"></span></p>
      </section>
    </section>
  </article>
</section><!-- /stream -->