<div class="discoverChannels clearfix">
  <div class="local span-2">
    <div class="span-1">
      <h2>Channels</h2>
      <% if (channels) { %>
      <div class="list">
        <% _.each(channels, function(channel) { %>
        <div class="channel justify">
          <img class="avatar" src="<%= avatars[channel.name] %>"></img>
          <div class="info flex">
            <span class="owner"><%- channel.name %></span>
            <span class="about"><%- channel.about %></span>
          </div>
          <div class="follow button callToAction">Follow</div>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
    <div class="span-1">
      <h2>Posts</h2>
      <% if (posts) { %>
      <div class="list posts">
        <% _.each(posts, function(post) { %>
        <article class="post">
          <section class="opener">
            <img class="avatar" src="<%= avatars[post.channel] %>"></img>
              <div class="postmeta">
                <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
              </div>
            <p>Haven't seen <span class="highlight">Anna</span> yet. I'm supposed to get a hug</p>
          </section>
        </article>
        <% }); %>
      </div>
      <% } %>
    </div>
  </div>
</div>