<section class="newTopic">
  <img class="avatar" src="<%= user.avatarUrl(50) %>">
  <div class="holder">
    <div class="expandingArea">
        <pre><span></span><br></pre>
    <textarea placeholder="<%= l('newTopic', {}, 'New topic...') %>"></textarea>
    </div>
    <div class="controls clearfix">
      <div class="hint" data-l10n="postHint">ctrl + enter to post</div>
      <div class="button callToAction createComment" data-l10n="postButton">Post</div>
    </div>
  </div>
</section>
<div class="notifications">
</div>
<section class="posts">
</section>
<p class="loader">
  <span class="spinner"></span>
</p>
