<article class="post noComments">
              <section class="opener">
                <img class="avatar" src="avatars/user2.jpg" />
                <div class="postmeta">
                  <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">1 minute</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  <button class="flat cancel-delete button" title="Don't Delete Post">no!</button>
                </div>
                <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Home</span>
                <p>So it looks like Andi finally joined: <a class="internal" href="buddycloud.com/andi@buddycloud.com">andi<span class="domain">@buddycloud.com</span></a></p>
              </section>
              <section class="comments">
                <section class="answer">
                  <img class="avatar" src="avatars/user1.jpg" />
                  <textarea placeholder="comment"></textarea>
                  <div class="controls clearfix">
                    <div class="hint">ctrl + enter to post</div>
                    <div class="button callToAction createComment">Post</div>
                  </div>
                </section>
              </section>
            </article>            
            <article class="post noComments">
              <section class="opener">
                <img class="avatar" src="avatars/user2.jpg" />
                <div class="postmeta">
                  <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">5 minutes</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                </div>
                <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Home</span>
                <p>I'm a sociopath; there's not much he can do for me. I have a dark side, too. I will not kill my sister. I will not kill my sister. I will not kill my sister. He taught me a code. To survive. Under normal circumstances, I'd take that as a compliment. I'm generally confused most of the time.</p>
              </section>
              <section class="comments">
                <section class="answer">
                  <img class="avatar" src="avatars/user1.jpg" />
                  <textarea placeholder="comment"></textarea>
                  <div class="controls clearfix">
                    <div class="hint">ctrl + enter to post</div>
                    <div class="button callToAction createComment">Post</div>
                  </div>
                </section>
              </section>
            </article>
            <article class="post">
              <section class="opener">
                <img class="avatar" src="avatars/user2.jpg" />
                <div class="postmeta">
                  <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                </div>
                <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Campus Library</span>
                <p>Pretend. You pretend the feelings are there, for the world, for the people around you.</p>
              </section>
              <section class="comments">
                <section class="comment">
                  <img class="avatar" src="avatars/user6.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">mona<span class="domain">@buddycloud.com</span></span><span class="location">from Cafe Extra</span>
                  <p>Who knows? Maybe one day they will be. I like seafood.</p>
                </section>
                <section class="comment">
                  <img class="avatar" src="avatars/user7.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">verena<span class="domain">@buddycloud.com</span></span><span class="location">from Home</span>
                  <p>Finding a needle in a haystack isn't hard when every straw is computerized. I'm really more an apartment person.</p>
                </section>
                <section class="comment">
                  <img class="avatar" src="avatars/user11.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">betty<span class="domain">@buddycloud.com</span></span><span class="location">from Donau</span>
                  <p>I feel like a jigsaw puzzle missing a piece. And I'm not even sure what the picture should be.</p>
                </section>
                <section class="comment">
                  <img class="avatar" src="avatars/user13.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">daniel<span class="domain">@buddycloud.com</span></span><span class="location">from Home</span>
                  <p>I'm going to tell you something that I've never told anyone before.</p>
                </section>
                <section class="answer">
                  <img class="avatar" src="avatars/user1.jpg" />
                  <textarea placeholder="comment"></textarea>
                  <div class="controls clearfix">
                    <div class="hint">ctrl + enter to post</div>
                    <div class="button callToAction createComment">Post</div>
                  </div>
                </section>
              </section>
            </article>
            <article class="post">
              <section class="opener">
                <img class="avatar" src="avatars/user2.jpg" />
                <div class="postmeta">
                  <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                </div>
                <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Munich</span>
                <p>Pretend. You pretend the feelings are there, for the world, for the people around you.</p>
              </section>
              <section class="comments">
                <section class="comment">
                  <img class="avatar" src="avatars/user3.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">Tom</span><span class="location">from Men's Cave</span>
                  <p>Who knows? Maybe one day they will be. I like seafood.</p>
                </section>
                <section class="comment">
                  <img class="avatar" src="avatars/user5.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">gero<span class="domain">@buddycloud.com</span></span><span class="location">from Regensburg</span>
                  <p>Finding a needle in a haystack isn't hard when every straw is computerized. I'm really more an apartment person.</p>
                </section>
                <section class="comment">
                  <img class="avatar" src="avatars/user2.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Munich</span>
                  <p>I feel like a jigsaw puzzle missing a piece. And I'm not even sure what the picture should be.</p>
                </section>
                <section class="unread comment">
                  <img class="avatar" src="avatars/user12.jpg" />
                  <div class="postmeta">
                    <time data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">3 days</time>
                  <button class="flat delete button" title="Delete Post">✖</button>
                  </div>
                  <span class="name">sebastian<span class="domain">@buddycloud.com</span></span><span class="location">from Passau</span>
                  <p>I'm going to tell you something that I've never told anyone before.</p>
                </section>
                <section class="answer">
                  <img class="avatar" src="avatars/user1.jpg" />
                  <textarea placeholder="comment"></textarea>
                  <div class="controls clearfix">
                    <div class="hint">ctrl + enter to post</div>
                    <div class="button callToAction createComment">Post</div>
                  </div>
                </section>
              </section>
            </article>