<article class="post noComments">
  <section class="opener">
    <img class="avatar" src="avatars/user2.jpg" />
    <div class="postmeta">
      <time class="ago" data-strftime="%d.%m.%Y %H:%M" data-strftitle="%A %d %B %Y %H:%M" datetime="2011-06-06T05:06:00.000Z" title="5:06pm 06.06.2011">1 minute</time>
      <button class="flat delete button" title="Delete Post">✖</button>
      <button class="flat cancel-delete button" title="Don't Delete Post">no!</button>
    </div>
    <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Home</span>
    <p>So it looks like Andi finally joined: <a class="internal" href="buddycloud.com/andi@buddycloud.com">andi<span class="domain">@buddycloud.com</span></a></p>
  </section>
    <section class="comments">
    <section class="answer">
    <img class="avatar" src="avatars/user1.jpg" />
    <textarea placeholder="comment"></textarea>
    <div class="controls clearfix">
      <div class="hint">ctrl + enter to post</div>
      <div class="button callToAction createComment">Post</div>
    </div>
  </section>
  </section>
</article>