<% _.each(followerRoles, function(followerRole) { %>
  <section class="<%- followerRole.id %>">
    <% if (followers[followerRole.id]) { %>
    <h2><%- followerRole.display %></h2>
    <ul>
      <% _.each(followers[followerRole.id], function(follower) { %>
      <li class="<%- follower.split('@', 2)[0] %>">
        <a href="?<%- follower %>">
          <img class="avatar" src="<%= avatars[follower] %>" alt="">
          <div class="text">
            <span class="name"><%- follower.split('@', 2)[0] %></span>
            <br>
            <span class="id"><%- follower %></span>
          </div>
        </a>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </section>
<% }); %>